body {
  font-family: 'Noto Sans', sans-serif;
}


.footer .icon-link {
    font-size: 25px;
    color: #000;
}

.link-block a {
    margin-top: 5px;
    margin-bottom: 5px;
}

.dnerf {
  font-variant: small-caps;
}


.teaser .hero-body {
  padding-top: 0;
  padding-bottom: 3rem;
}

.teaser {
  font-family: 'Google Sans', sans-serif;
}


.publication-title {
}

.publication-banner {
  max-height: parent;

}

.publication-banner video {
  position: relative;
  left: auto;
  top: auto;
  transform: none;
  object-fit: fit;
}

.publication-header .hero-body {
}

.publication-title {
    font-family: 'Google Sans', sans-serif;
}

.publication-authors {
    font-family: 'Google Sans', sans-serif;
}

.publication-venue {
    color: #555;
    width: fit-content;
    font-weight: bold;
}

.publication-awards {
    color: #ff3860;
    width: fit-content;
    font-weight: bolder;
}

.publication-authors {
}

.publication-authors a {
   color: hsl(204, 86%, 53%) !important;
}

.publication-authors a:hover {
    text-decoration: underline;
}

.author-block {
  display: inline-block;
  margin-right: 5px;
  margin-bottom: 5px; 
}

.author-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Center align the author rows */
}

.publication-banner img {
}

.publication-authors {
  /*color: #4286f4;*/
}

.publication-video {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;

    overflow: hidden;
    border-radius: 10px !important;
}

.publication-video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.publication-body img {
}

.results-carousel {
  overflow: hidden;
}

.results-carousel .item {
  margin: 5px;
  overflow: hidden;
  padding: 20px;
  font-size: 0;
}

.results-carousel video {
  margin: 0;
}

.slider-pagination .slider-page {
  background: #000000;
}

.eql-cntrb { 
  font-size: smaller;
}


.video-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 20px;
}

.video-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 45%;
  margin: 0 20px; /* Add more space between the videos */
}

.video-box iframe {
  width: 100%;
  height: 300px; /* Make the videos bigger */
}

.caption {
  margin-top: 10px;
  text-align: center;
  font-size: 1.2em;
  font-weight: bold;
}


.hero.teaser {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 20px 0;
}

.container.is-max-desktop {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 1200px;
}

.video-pair {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  margin-bottom: 20px;
}

.video-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 45%;
}

.video-container video {
  width: 100%;
  height: auto;
}

.subtitle {
  text-align: center;
  font-size: 1.2em;
  font-weight: bold;
  margin-top: 10px;
}



.video-compare-container {
  margin: 0 auto;
  position: relative;
  display: block;
  line-height: 0;
  }
  
  .video {
  width: 100%;
  height: auto;
  position: relative;
  top: 0;
  left: 0;
  }
  
  .videoMerge {
  position: relative;
  top: 0;
  left: 0;
  z-index: 10;
  width: 45%;
  display: block;
  margin: 0 auto;
  background-size: cover;
  }
  
  .cropped-video{
    width: 100%;
    overflow:hidden;
    display:block;
  }
  
  .tabs {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .tab {
    flex-grow: 1; /* 使每个标签平均分配可用空间 */
    text-align: center; /* 文字居中 */
    cursor: pointer;
    padding: 10px 20px;
    margin: 0 10px;
    background-color: #f0f0f0;
    border: 2px solid transparent;
    border-radius: 5px;
    transition: background-color 0.3s, border-color 0.3s;
  }
  
  .tab:hover {
    background-color: #e0e0e0;
  }
  
  .tab.active {
    background-color: #fff;
    border-color: #007bff;
    color: #007bff;
  }
  
  .example {
    display: none;
  }